/* Main Container */
.link-tree {
    text-align: center;
}

/* Profile Section */
.profile-section {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: center; /* Center the whole section horizontally */
    gap: 20px; /* Space between profile and icons/images */
    margin-bottom: 20px;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 5%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Social Media Icons and Floating Image Stack */
.icon-and-image {
    display: flex;
    flex-direction: column; /* Stack icons and image vertically */
    align-items: flex-start; /* Align items to the left */
    gap: 15px; /* Space between icons and the floating image */
}

/* Social Media Icons */
.icon-links {
    display: flex;
    gap: 15px;
}

.icon {
    font-size: 28px !important;
    color: #ffffff;
    transition: transform 0.3s, color 0.3s;
    transform: scale(1.5);

}

.icon:hover {
    transform: scale(1.2);
    color: #ff9800;
}

/* Floating Image */
.floating-image-container {
    position: relative;
}

.floating-image {
    width: 100%;
    max-width: 200px; /* Limit the size */
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.floating-image:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}


/* Name Section */
.name-section {
    text-align: center;
    margin: 20px 0;
}

.name {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    color: #cccccc;
    font-family: 'Roboto', sans-serif;
    margin: 5px 0 0;
    transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
}

/* Fade-out effect */
.subtitle.fade {
    opacity: 0;
}


/* Links Section */
.links-section {
    margin-top: 20px;
}

.link-button {
    width: 100%;
    padding: 12px 0;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    background-color: #336699;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.link-button:hover {
    background-color: #28557a;
    transform: translateY(-3px);
}

.link-button.video {
    background-color: #cc6600;
}

.link-button.video:hover {
    background-color: #a55400;
}
