 /* This part is to reset the canvas */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
  }


   /* To set up the application background 
   and here the content is centered to the screen */
.app-background {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



 /* This is just the config of the container */
.app-container {
    width: 320px;
    padding: 30px;
    border-radius:10px;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent container */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    color: #fff;
}

 /* Glow effect on hover */
 .app-container:hover {
     box-shadow:
             0px 10px 30px rgba(178, 255, 223, 0.8), /* Base shadow */
             0px 0px 20px rgba(210, 255, 131, 0.8), /* Outer glow */
             0px 0px 30px rgba(100, 181, 246, 0.6), /* Gradient transition */
             0px 0px 40px rgba(155, 156, 157, 0.5); /* Gradient transition to a darker shade */
     transform: scale(1.05); /* Optional: Slightly scale up the container */
     transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth animation */
 }
